# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env



# Data files (optional)
*.csv
*.xlsx

# Build & cache
build/
dist/
*.egg-info/

# Docker
*.tar
